@{
    ViewBag.Title = "Home Page";
}

<main>
    <section class="row" aria-labelledby="aspnetTitle">
        <h1 id="title">Private School Project</h1>
        <p class="lead">Welcome to our Homepage</p>
        <img src="https://wallpapercave.com/wp/wp3738661.jpg" alt="Anime School" />
    </section>

</main>